.App {
  /* text-align: center; */
  background-image: url('backgroundimage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: black;
}

.thin {
	/* Montserrat Thin = 100 */
	font-weight: 100;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.extralight {
	/* Montserrat Extra Light = 200 */
	font-weight: 200;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.light {
	/* Montserrat Light = 300 */
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.regular {
	/* Montserrat Regular = 400 */
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
	/* Montserrat Medium = 500 */
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.semibold {
	/* Montserrat Semi-bold = 600 */
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.bold {
	/* Montserrat Bold = 700 */
	font-weight: 700;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.extrabold {
	/* Montserrat Extra Bold = 800 */
	font-weight: 800;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.black {
	/* Montserrat Black = 900 */
	font-weight: 900;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-image: url('backgroundimage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white; */
  /* flex-direction: row; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
